<ion-header>
  <ion-toolbar>
    <ion-title>Carrito de Compras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #fff;">
  <ion-list style="--background: #fff;">
    <ion-item *ngFor="let item of cartItems" style="--background: #fff;">
      <ion-thumbnail slot="start">
        <img [src]="'http://127.0.0.1:3000/imagenes/productos/'+ item.product.imagen" alt="{{ item.product.name }}" />
      </ion-thumbnail>
      <ion-label style="--background: #fff;">
        <p>{{ item.product.name }}</p>
        <p>Precio: ${{ item.product.precio }}</p>
        <p>Cantidad: {{ item.quantity }}</p>
      </ion-label>
      <ion-button (click)="removeItem(item.id)" class="eliminar" style=" --background-color: red">Eliminar</ion-button>
    </ion-item>
  </ion-list>

  <ion-button expand="full" (click)="clearCart()">Vaciar Carrito</ion-button>
</ion-content>


<ion-tab-bar slot="bottom" slot="bottom" style="position: fixed; bottom: 0; width: 100%; z-index: 10;" style="--background: #fff;">
 
  <ion-tab-button tab="home">
    <ion-icon name="home" routerLink="/inicio-tienda"></ion-icon>
    <ion-label>Home</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="comprar">
    <ion-icon name="add" routerLink="/catalogo"></ion-icon>
    <ion-label>Comprar</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="mi-lista">
    <ion-icon name="menu"></ion-icon>
    <ion-label>Mi lista</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="mi-lista">
    <ion-icon name="cart-outline" routerLink="/carrito"></ion-icon>
    <ion-label>Carrito</ion-label>
  </ion-tab-button>

 

  <ion-tab-button tab="mi-cuenta">
    <ion-icon name="person"></ion-icon>
    <a  routerLink="/person" routerLinkActive="router-link-active" ><ion-label>{{user}}</ion-label></a>
    
  </ion-tab-button>
</ion-tab-bar>
