<ion-header>
 

</ion-header>


<ion-content class="ion-padding" style="--background: #fff;">
  <!-- Barra de búsqueda -->
 
  <div class="search-bar">
    <ion-searchbar class="buscar" placeholder="Buscar" animated (ionInput)="searchCustomer($event)"></ion-searchbar>
  </div>

  <!-- Oferta de descuento -->
  <div class="discount-banner">
    Los mejores productos a precios increíbles
  </div>

  <!-- Productos -->
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let producto of productosFiltrados">
        <div class="product-card">
          <img [src]="producto.image" [alt]="producto.name" />
          <ion-icon name="heart-outline" class="icon-heart"></ion-icon>
          <p class="product-desc">{{ producto.name }}</p>
          <p class="price">
            <span class="new-price">${{ producto.price }}</span>
            <ion-button expand="block">Más Detalles</ion-button>
          </p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Botón "Explora más" -->
  <div class="explore-more">
    <ion-button expand="block" fill="outline" routerLink="/catalogo">Explora más</ion-button>
  </div>
  
  <app-boton  color="warning" texto="Ver MAs" ></app-boton>

</ion-content>

<!-- Barra de navegación inferior -->

  <ion-tab-bar slot="bottom" slot="bottom" style="position: fixed; bottom: 0; width: 100%; z-index: 10;">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="comprar">
      <ion-icon name="add" routerLink="/catalogo"></ion-icon>
      <ion-label>Comprar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mi-lista">
      <ion-icon name="menu"></ion-icon>
      <ion-label>Mi lista</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mi-lista">
      <ion-icon name="cart-outline" routerLink="/carrito"></ion-icon>
      <ion-label>Carrito</ion-label>
    </ion-tab-button>

   

    <ion-tab-button tab="mi-cuenta">
      <ion-icon name="person"></ion-icon>
      <a  routerLink="/person" routerLinkActive="router-link-active" ><ion-label>{{user}}</ion-label></a>
      
    </ion-tab-button>
  </ion-tab-bar>
